.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1600px;
  margin: 0 auto;
  overflow-x: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* header section css here */
header {
  background-color: #1a0b2e;
}
.logo {
  font-size: 1.5rem;
}
.logo-gradient {
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 3s infinite linear;
}
.navbar {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
.menu {
  display: flex;
  gap: 32px;
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.menu a:hover {
  color: rgb(154, 161, 167);
}
.btn1 {
  color: #ffffff;
  padding: 12px 16px;
  gap: 4px;
  border: none;
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50px;
}
.btn1:hover {
  background: linear-gradient(135deg, #9100f8, #fb09b4, #ecf955);
  transform: scale(1.05);
}
.ham {
  display: none;
  cursor: pointer;
  transition: 0.3s ease;
}

/* hero section css code here */
.hero {
  background-image: url(../assets/hero-bg.png);
  width: 100%;
  min-height: 760px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.circle {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
}
.microphone {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top {
  position: absolute;
  left: 55%;
  top: 13%;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 700;
  color: #1a0b2e;
  background-color: #00ff88;
  border-radius: 20px;
  width: 75px;
  height: 38px;
  box-shadow: 0px 0px 10px rgba(0, 255, 186, 1);
}
.hero-content h3 {
  font-size: 60px;
  font-weight: bolder;
  color: white;
}
.hero-content p {
  color: rgba(255, 255, 255, 0.6);
}
.hero-btn-1 {
  color: #ffffff;
  padding: 12px 20px;
  gap: 12px;
  border: none;
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}
.hero-btn-1:hover {
  background: linear-gradient(135deg, #9100f8, #fb09b4, #ecf955);
  transform: scale(1.05);
}

.hero-btn-2 {
  color: #00ff88;
  padding: 12px 20px;
  display: flex;
  gap: 8px;
  border: 1px solid #00ff88;
  background: transparent;
  border-radius: 40px;
  font-weight: 600;
  align-items: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.hero-btn-2:hover {
  transform: scale(1.05);
}
.hero-btn {
  display: flex;
  gap: 16px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-content {
  margin-top: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

/* About section css here */
.about {
  padding: 50px 200px 120px;
  background-color: #1a0b2e;
  text-align: center;
}
.about-des {
  margin: 0 auto;
}
.about-h {
  font-size: 48px;
  color: white;
  margin-bottom: 16px;
}
.about-p {
  line-height: 2;
  color: white;
  margin-bottom: 80px;
}
.about-list {
  margin-top: 80px;
  list-style: none;
  display: flex;
  gap: 80px;
  justify-content: center;
}
.about li {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 240px;
}

/* Chose section css code here */
.choose {
  background-color: #230e3d;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 120px 200px;
}
.choose-p {
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 40px;
}
.choose-container {
  max-width: 1200px;
  margin: 0 auto;
}
.choose-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: rgba(53, 17, 101, 0.4);
  border: none;
  border-radius: 40px;
  padding: 40px 40px;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}
.choose-card h3 {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
}
.choose-card p {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
}
.choose-card img {
  width: 100%;
  max-width: 60px;
}
.card1 {
  grid-area: card1;
}
.card2 {
  grid-area: card2;
}
.card3 {
  grid-area: card3;
}
.card4 {
  grid-area: card4;
}
.card5 {
  grid-area: card5;
}

.choose-grid {
  display: grid;
  gap: 30px;
  grid-template-areas:
    "card1 card2 card2"
    "card1 card3 card3"
    "card4 card4 card5";
}

.choose-card:hover {
  transform: scale(1.05);
}

/* featured and host section css here */
.feature-host {
  background-color: #1a0b2e;
  padding: 120px 200px;
}
.feature h3 {
  font-size: 48px;
  color: white;
  font-weight: 900;
}
.video-container {
  display: flex;
  gap: 30px;
}
.video-card {
  background-color: #250d44;
  width: 380px;
  height: 440px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.v-d {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.video-card iframe {
  width: 100%;
  height: 214px;
}
.video-card h3 {
  font-size: 24px;
  font-weight: 900;
  color: white;
}
.video-card p {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
}
.duration {
  display: flex;
  gap: 8px;
}
.duration span {
  color: #00ff88;
  font-weight: 600;
}

.host {
  margin-top: 120px;
}
.host h3 {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 40px;
}
.host-card {
  background-color: #250d44;
  width: 1200px;
  padding: 40px;
  border-radius: 40px;
  display: flex;
  gap: 24px;
  align-items: center;
}
.host-des {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.host-des h4 {
  font-size: 48px;
  color: white;
  font-weight: bold;
}
.host-des p {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
}
.host-des ul {
  display: flex;
  gap: 8px;
}
.host-des li {
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.6);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
