.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1600px;
  margin: 0 auto;
  overflow-x: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* header section css here */
header {
  background-color: #1a0b2e;
}
.logo {
  font-size: 1.5rem;
}
.logo-gradient {
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 3s infinite linear;
}
.navbar {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
.menu {
  display: flex;
  gap: 32px;
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.menu a:hover {
  color: rgb(154, 161, 167);
}
.btn1 {
  color: #ffffff;
  padding: 12px 16px;
  gap: 4px;
  border: none;
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50px;
}
.btn1:hover {
  background: linear-gradient(135deg, #9100f8, #fb09b4, #ecf955);
  transform: scale(1.05);
}
.ham {
  display: none;
  cursor: pointer;
  transition: 0.3s ease;
}
